body{
 margin: 0;
 overflow: hidden;
}

section{
    padding: 100px;
    display: flex;
    justify-content: space-around ;
    align-items: center ;
}

img{
    display: flex;
    align-items: center;
    width: 100px;
    height: 150px;
    justify-content: space-around;
}

