body{
 margin: 0;
}

section{
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: column;
}
 
.carta-frente,
  .oposto {
    width: 10%;
    height: 10%;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    background: rgba(140, 241, 72, 0.808);
  }

